$dg: #2f2828
$lr: #eecccc

@function calc-rem($size)
  $rem-size: $size / 16px + rem

  @return $rem-size

=col
  float: left
  width: 25%

=blr-cdg
  background-color: $lr
  color: $dg

=bdg-clr
  background-color: $dg
  color: $lr

.wrapper
  width: 100%
  background-color: $lr
  font-size: calc-rem(19.2px)

  // 1.2rem;

.header
  width: 100%

.header h1
  font-size: calc-rem(40px)

  // 2.5rem;
  color: $dg

.nav
  width: 100%
  background-color: #fbf4f4
  font-size: calc-rem(16px)

  // 1rem;
  padding: calc-rem(3.2px)

  // 0.2rem;

.nav ul li
  display: inline-block
  width: calc-rem(160px)

  // 10rem;
  margin-right: calc-rem(3.2px)

  // 0.2rem;
  border-radius: calc-rem(5px)
  border: 1px solid transparent

  +blr-cdg

  //background-color: $lr;
  //color: $dg;

.col1
  float: left
  width: 50%

  +bdg-clr

  // background-color: $dg; 
  // color: $lr;

.col2
  +col
  +blr-cdg

  // background-color: $lr; 
  // color: $dg;

.col2 h2
  color: black

.col3
  +col
  +bdg-clr

  // background-color: $dg; 
  // color: $lr;

.footer
  width: 100%
  background-color: $lr
  font-size: calc-rem(14.4px)

  // 0.9rem;
