
* { background-color:#C0DEED;}



 #banner {
    bottom:15%;
    position: absolute;
    -webkit-animation: linear infinite;
    -webkit-animation-name: move;
    -webkit-animation-duration: 12s;
    /* -webkit-animation: rotating 10s linear infinite; */
 }

@-webkit-keyframes move {
    0% {left: 0;}
    50% {left: 90%;}
    100% {left: 50%;}
}

@keyframes rotating {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
 }


@keyframes moving_clouds { 
    0% { background-position: left top; }
    100% { background-position: right top; }
 }


#sky {
position:fixed;
top:0px;left:0px;
width:100%;
height:100%;
text-align:center;
margin:0px;
padding:0px;
background-color:#C0DEED;
background: url(clouds.png) center top repeat-x;
padding-top:300px;
padding-bottom:10px;

animation-name: moving_clouds;
animation-duration: 10s ; 
animation-timing-function: linear;
animation-delay: 2s ;
animation-iteration-count: infinite;
}

/*
.container {
    position: relative;
    text-align: center;
    color: black;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    
}
*/

/*  

@keyframes rolling {
    0% { background-position: left top; }
    /* 50% {background-position: center top;} */
    100% { background-position: right top; }
    /* from { visibility: hidden; }
    to    { visibility: visible; } */ 
 }
 
 #banner { 
    position: fixed;
    top: 500px;           
    left: 350px; 
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    width: 100%;
    height: auto;
    animation: rolling 20s linear 5s forwards; 
}
*/